--- 
title: Trick Rogers 
page_classes: home 
---

<div class="nav-container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <a href="/" class="box header">
        <h1 class="header-text">trick rogers</h1>
      </a>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <a href="/news" class="box news flex center">
        <h1>News</h1>
      </a>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <a href="/apps" class="box apps flex center">
        <h1>Apps</h1>
      </a>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <a href="/music" class="box music flex center">
        <h1>Music</h1>
      </a>
    </div>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6">
      <a href="sms:596008666" class="box phone flex center">
        <h1>Text</br>
        560.085.0830</h1>
    </a>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-6">
    <a href="/about" class="box header">
      <h1 class="header-text">About</h1>
    </a>
  </div>
</div>
</div>